dhorvat3_projekt/dhorvat3_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8088/dhorvat3_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.dhorvat3.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.dhorvat3.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dhorvat3.nwtis.foi.org/" schemaLocation="http://localhost:8088/dhorvat3_aplikacija_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajNekolikoMeteoPodatakaZaUredaj">
<part name="parameters" element="tns:dajNekolikoMeteoPodatakaZaUredaj"/>
</message>
<message name="dajNekolikoMeteoPodatakaZaUredajResponse">
<part name="parameters" element="tns:dajNekolikoMeteoPodatakaZaUredajResponse"/>
</message>
<message name="NeuspjesnaPrijava">
<part name="fault" element="tns:NeuspjesnaPrijava"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredaj">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredaj"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredajResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredajResponse"/>
</message>
<message name="dajAdresuZaUredaj">
<part name="parameters" element="tns:dajAdresuZaUredaj"/>
</message>
<message name="dajAdresuZaUredajResponse">
<part name="parameters" element="tns:dajAdresuZaUredajResponse"/>
</message>
<message name="dajNajnovijeMeteoPodatkeZaUredaj">
<part name="parameters" element="tns:dajNajnovijeMeteoPodatkeZaUredaj"/>
</message>
<message name="dajNajnovijeMeteoPodatkeZaUredajResponse">
<part name="parameters" element="tns:dajNajnovijeMeteoPodatkeZaUredajResponse"/>
</message>
<message name="dajZaRazdobljeMeteoPodatkeZaUredaj">
<part name="parameters" element="tns:dajZaRazdobljeMeteoPodatkeZaUredaj"/>
</message>
<message name="dajZaRazdobljeMeteoPodatkeZaUredajResponse">
<part name="parameters" element="tns:dajZaRazdobljeMeteoPodatkeZaUredajResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajNekolikoMeteoPodatakaZaUredaj">
<input wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNekolikoMeteoPodatakaZaUredajRequest" message="tns:dajNekolikoMeteoPodatakaZaUredaj"/>
<output wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNekolikoMeteoPodatakaZaUredajResponse" message="tns:dajNekolikoMeteoPodatakaZaUredajResponse"/>
<fault message="tns:NeuspjesnaPrijava" name="NeuspjesnaPrijava" wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNekolikoMeteoPodatakaZaUredaj/Fault/NeuspjesnaPrijava"/>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredaj">
<input wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredajRequest" message="tns:dajZadnjeMeteoPodatkeZaUredaj"/>
<output wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredajResponse" message="tns:dajZadnjeMeteoPodatkeZaUredajResponse"/>
<fault message="tns:NeuspjesnaPrijava" name="NeuspjesnaPrijava" wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredaj/Fault/NeuspjesnaPrijava"/>
</operation>
<operation name="dajAdresuZaUredaj">
<input wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajAdresuZaUredajRequest" message="tns:dajAdresuZaUredaj"/>
<output wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajAdresuZaUredajResponse" message="tns:dajAdresuZaUredajResponse"/>
<fault message="tns:NeuspjesnaPrijava" name="NeuspjesnaPrijava" wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajAdresuZaUredaj/Fault/NeuspjesnaPrijava"/>
</operation>
<operation name="dajNajnovijeMeteoPodatkeZaUredaj">
<input wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNajnovijeMeteoPodatkeZaUredajRequest" message="tns:dajNajnovijeMeteoPodatkeZaUredaj"/>
<output wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNajnovijeMeteoPodatkeZaUredajResponse" message="tns:dajNajnovijeMeteoPodatkeZaUredajResponse"/>
<fault message="tns:NeuspjesnaPrijava" name="NeuspjesnaPrijava" wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajNajnovijeMeteoPodatkeZaUredaj/Fault/NeuspjesnaPrijava"/>
</operation>
<operation name="dajZaRazdobljeMeteoPodatkeZaUredaj">
<input wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZaRazdobljeMeteoPodatkeZaUredajRequest" message="tns:dajZaRazdobljeMeteoPodatkeZaUredaj"/>
<output wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZaRazdobljeMeteoPodatkeZaUredajResponse" message="tns:dajZaRazdobljeMeteoPodatkeZaUredajResponse"/>
<fault message="tns:NeuspjesnaPrijava" name="NeuspjesnaPrijava" wsam:Action="http://serveri.ws.dhorvat3.nwtis.foi.org/GeoMeteoWS/dajZaRazdobljeMeteoPodatkeZaUredaj/Fault/NeuspjesnaPrijava"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajNekolikoMeteoPodatakaZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NeuspjesnaPrijava">
<soap:fault name="NeuspjesnaPrijava" use="literal"/>
</fault>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NeuspjesnaPrijava">
<soap:fault name="NeuspjesnaPrijava" use="literal"/>
</fault>
</operation>
<operation name="dajAdresuZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NeuspjesnaPrijava">
<soap:fault name="NeuspjesnaPrijava" use="literal"/>
</fault>
</operation>
<operation name="dajNajnovijeMeteoPodatkeZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NeuspjesnaPrijava">
<soap:fault name="NeuspjesnaPrijava" use="literal"/>
</fault>
</operation>
<operation name="dajZaRazdobljeMeteoPodatkeZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NeuspjesnaPrijava">
<soap:fault name="NeuspjesnaPrijava" use="literal"/>
</fault>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8088/dhorvat3_aplikacija_1/GeoMeteoWS"/>
</port>
</service>
</definitions>